.wrap{
    position: fixed;
    inset: 0;
    pointer-events: none;
    z-index: 0;

    display: grid;
    place-items: center;

    opacity: 0.2;
}

.svg{
    width: min(70vmin, 720px);
    height: auto;
    display: block;
}
